.toggle {
  background-color: transparent;
  color: var(--white);
  // font-weight: var(--font-weight-xb);
  // font-size: var(--font-size-sm);
}
.toggle:hover {
  background-color: var(--purple-30);
  color: var(--white);
  // font-weight: var(--font-weight-xb);
  // font-size: var(--font-size-sm);
}

.menu {
  background-color: var(--purple-20);
  
}

.item {
  color: var(--white);
  text-decoration: none;
}

.item:hover, .item:active {
  color: var(--white);
  background-color: var(--purple-30);
  text-decoration: none;
  outline: none;
}

@media screen and (min-width: 320px) {
  .toggle {
    // background-color: transparent;
    // color: var(--white);
    font-weight: var(--font-weight-xb);
    font-size: var(--font-size-xsm);
  }
  .toggle:hover {
    // background-color: var(--purple-30);
    // color: var(--white);
    font-weight: var(--font-weight-xb);
    font-size: var(--font-size-xsm);
  }
  
  
}

@media screen and (min-width: 480px) {
  .toggle {
    background-color: transparent;
    color: var(--white);
    font-weight: var(--font-weight-xb);
    font-size: var(--font-size-sm);
  }
  .toggle:hover {
    background-color: var(--purple-30);
    color: var(--white);
    font-weight: var(--font-weight-xb);
    font-size: var(--font-size-sm);
  }
  
  
}