.container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  box-sizing: content-box;
  
}

.container::-webkit-scrollbar {
  width: 0.7em;
  height: 5px;
  background: transparent;
}
.container::-webkit-scrollbar-thumb {
  background: var(--white);
  height: 3px;
  border-radius: 5px;
}

.container::-webkit-scrollbar-track-piece
{
   display:none;
}

.grid_point_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected_text {
  text-shadow: 2px 2px 2px black;
  
  color: var(--green-10)
  
}
.item_name_container {
  display: flex;
  align-items: center;
  padding-right: 0px;
  width: 150px;
}
.item_name_container:active {
  color: blue;
}

.row_container {
  align-items: center;
}
.icon_container {
  display: flex;  
  height: 34px;  
  align-items: center;
  justify-content: center;
  width:30px;
}
.head_container {
  align-items: center;
  display: flex;
  height: 50px
}
.head {
  color: var(--white);
}

.a_tag, .a_tag:link {
  text-decoration: none;
  text-align: left;
  outline: none;
  color: var(--white)
  
}
.a_tag:hover {
  text-decoration: underline;
  color: var(--white)
}

.arrow_icon {
  margin-left: 5px;
}

