.container {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  box-sizing: content-box;
  
}

.container::-webkit-scrollbar {
  width: 0.7em;
  height: 5px;
  background: transparent;
}
.container::-webkit-scrollbar-thumb {
  background: var(--white);
  height: 3px;
  border-radius: 5px;
}

.container::-webkit-scrollbar-track-piece
{
   display:none;
}

.grid_point_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item_name_container {
  display: flex;
  align-items: center;
}

.row_container {
  align-items: center;
}
.icon_container {
  display: flex;  
  height: 34px;  
  align-items: center;
  justify-content: center;
}
.head_container {
  // background-color: green;
  align-items: center;
  display: flex;
  height: 50px
}
.head {
  color: white;
}

