.container_0, .container_1, .container_2, .container_3, .container_4, .container_5, .container_6, .container_7, .container_8, .container_9, .container_10, .container_11 {
min-height: 48px;
  border-radius: 15px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  font-size: 20px;
  color: var(--white);
  align-items: center;
  justify-content: center;
}

.container_0 {
  background-color: #647893 ;
  border: #001B40 solid 5px;
}
.container_1 {
  background-color: #E585D7 ;
  border: #770066 solid 5px;
}
.container_2 {
  background-color: #7DBDE7 ;
  border: #004370 solid 5px;
}
.container_3 {
  background-color: #2F359D ;
  border: #000000 solid 5px;
}
.container_4 {
  background-color: #000000 ;
  border: #FFFFFF solid 5px;
}
.container_5 {
  background-color: #46AB22 ;
  border: #265022 solid 5px;
}
.container_6 {
  background-color: #4D949A ;
  border: #00555C solid 5px;
}
.container_7 {
  background-color: #0F3047 ;
  border: #0080D9 solid 5px;
}
.container_8 {
  background-color: #DD3731 ;
  border: #960500 solid 5px;
}
.container_9 {
  background-color: #D3C228 ;
  border: #9E8F04 solid 5px;
}
.container_10 {
  background-image: linear-gradient(#D3C228, #2F359D);
  border: #9E8F04 solid 5px;
}
.container_11 {
  background-image: linear-gradient(#BD4214, #FFE600);
  border: #9E8F04 solid 5px;
}

.container_0_next, .container_1_next, .container_2_next, .container_3_next, .container_4_next, .container_5_next, .container_6_next, .container_7_next, .container_8_next, .container_9_next, .container_10_next, .container_11_next {
  min-height: 24px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  font-size: 12px;
  color: var(--white);
  align-items: center;
  justify-content: center;
}

.container_0_next {
  background-color: #E585D7 ;
  border: #770066 solid 2px;
}
.container_1_next {
  background-color: #7DBDE7 ;
  border: #004370 solid 2px;
}
.container_2_next {
  background-color: #2F359D ;
  border: #000000 solid 2px;
}
.container_3_next {
  background-color: #000000 ;
  border: #FFFFFF solid 2px;
}
.container_4_next {
  background-color: #46AB22 ;
  border: #265022 solid 2px;
}
.container_5_next {
  background-color: #4D949A ;
  border: #00555C solid 2px;
}
.container_6_next {
  background-color: #0F3047 ;
  border: #0080D9 solid 2px;
}
.container_7_next {
  background-color: #DD3731 ;
  border: #960500 solid 2px;
}
.container_8_next {
  background-color: #D3C228 ;
  border: #9E8F04 solid 2px;
}
.container_9_next {
  background-image: linear-gradient(#D3C228, #2F359D);
  border: #9E8F04 solid 2px;
}
.container_10_next {
  background-image: linear-gradient(#BD4214, #FFE600);
  border: #9E8F04 solid 2px;
}
.container_11_next {
  background-image: linear-gradient(#BD4214, #FFE600);
  border: #9E8F04 solid 2px;
}


.container_0_previous, .container_1_previous, .container_2_previous, .container_3_previous, .container_4_previous, .container_5_previous, .container_6_previous, .container_7_previous, .container_8_previous, .container_9_previous, .container_10_previous, .container_11_previous {
  min-height: 24px;
  border-radius: 10px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  font-size: 12px;
  color: var(--white);
  align-items: center;
  justify-content: center;
}

.container_0_previous {
  background-color: #647893 ;
  border: #001B40 solid 5px;
}
.container_1_previous {
  background-color: #647893 ;
  border: #001B40 solid 5px;
}
.container_2_previous {
  background-color: #E585D7 ;
  border: #770066 solid 2px;
}
.container_3_previous {
  background-color: #7DBDE7 ;
  border: #004370 solid 2px;
}
.container_4_previous {
  background-color: #2F359D ;
  border: #000000 solid 2px;
}
.container_5_previous {
  background-color: #000000 ;
  border: #FFFFFF solid 2px;
}
.container_6_previous {
  background-color: #46AB22 ;
  border: #265022 solid 2px;
}
.container_7_previous {
  background-color: #4D949A ;
  border: #00555C solid 2px;
}
.container_8_previous {
  background-color: #0F3047 ;
  border: #0080D9 solid 2px;
}
.container_9_previous {
  background-color: #DD3731 ;
  border: #960500 solid 2px;
}
.container_10_previous {
  background-color: #D3C228 ;
  border: #9E8F04 solid 2px;
}
.container_11_previous {
  background-image: linear-gradient(#D3C228, #2F359D);
  border: #9E8F04 solid 2px;
}
