:root {
  // --green: #3FE79E;
  // --dark: #0F0235;
  // --peach: #FFCCCC;
  --black: #000000;
  // --dark-purple: #9038A3;
  --white: #FFFFFF;
  --white-25: rgba(255, 255, 255, 0.25);

  --mocha30: #FFFFFF;
  

  --green-10: #99D1BB;
  
  --orange-20: #F17749;

  --purple-10: #8f94fa;
  --purple-20: #373D9D;
  --purple-30: rgba(30,35,138);
  --purple-30-50: rgba(30,35,138, .5);
  

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;


  --twitter-blue:#1DA1F2;
  --discord-purple: #481CC4;
  --telegram-blue: #0088CC;
  --reddit-red: #FF5700;
  

//* BORDER RADIUS
  --rad-l: 30px; 
  
//* FONT SIZE
  --font-size-xxsm: 14px;
  --font-size-xsm: 16px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-l: 32px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 64px;
  --font-size-xxxxl: 90px;

  //* FONT WEIGHT
  --font-weight-md: 500;
  --font-weight-sb: 600;
  --font-weight-b: 700;
  --font-weight-xb: 800;
  --font-weight-xxb: 900;


//* NAVBAR 
  --nav-shadow: rgba(0, 0, 0, .25);

//* BOUNCING ICON
  --face: #f8f19e1f;
  --lowlight: #111;
  --side: black;
  --side-dark: #120e08;
  --coin-size: 7rem;


}
