:root {
  --green: #3FE79E;
  --dark: #0F0235;
  --peach: #FFCCCC;
  --black: #000000;
  --dark-purple: #9038A3;
  --white: #FFFFFF;
  
  
  --purple-10: #8f94fa;
  --purple-20: #373D9D;


  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

  
  --font-size-xsm: 14px;
  --font-size-sm: 16px;
  --font-size-md: 20px;
  --font-size-l: 24px;
  --font-size-xl: 32px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 90px;

  --font-weight-md: 500;
  --font-weight-sb: 600;
  --font-weight-b: 700;
  --font-weight-xb: 800;
  --font-weight-xxb: 900;
}
