:root {
  // --green: #3FE79E;
  --dark: #0F0235;
  --peach: #FFCCCC;
  --black: #000000;
  --dark-purple: #9038A3;
  --white: #FFFFFF;

  --mocha30: #FFFFFF;
  

  --green-10: #99D1BB;
  
  --purple-10: #8f94fa;
  --purple-20: #373D9D;
  --purple-30: rgba(30,35,138);
  --purple-30-50: rgba(30,35,138, .5);
  

  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 1.5rem;

//* BORDER RADIUS
  --rad-l: 30px; 
  
//* FONT SIZE
  --font-size-xxsm: 14px;
  --font-size-xsm: 16px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-l: 32px;
  --font-size-xl: 40px;
  --font-size-xxl: 48px;
  --font-size-xxxl: 90px;

  //* FONT WEIGHT
  --font-weight-md: 500;
  --font-weight-sb: 600;
  --font-weight-b: 700;
  --font-weight-xb: 800;
  --font-weight-xxb: 900;


  // --face: #be9d66;
  --face: #f8f19e1f;
  --lowlight: #111;
  // --side: #896c3b;
  --side: black;
  --side-dark: #120e08;
  --coin-size: 7rem;
  // --coin-face: url('https://sdbullion.com/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/2/0/2019-roaring-lion-silver-coin-obverse-sd-bullion.jpg');
  // --coin-face: url('../../../../public/LogoIcon.jpg')

}
