*,
*::before,
*::after {
  box-sizing: border-box;
}

div {
  // font-family: 'Montserrat', sans-serif;
  // font-weight: 600
}
body {
  // background-color: blue;
  
  width: 100% !important;
  height: 10% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  margin-right: 0px;
  color: var(--black);
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  // background-image: url('../../public/layered-peaks-haikei.svg');
  // background-image: url('../../public/stacked-steps-haikei (16).svg');
  // background-image: url('../../public/stacked-steps-haikei.svg');
  background-image: url('../../public/stacked-steps-haikei (1).svg');
  background-color:  var(--purple-10);
  
  
}


th {
  color: var(--white);
}

td {
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-b);
  color: var(--white);
}


h1 {
  font-weight: var(--font-weight-xxb);
  font-size: var(--font-size-xxxxl);
  margin: 0px;
}
h2 {
  font-size: var(--font-size-xl);
}
h3 {
  font-size: var(--font-size-l);
}
h4 {
  font-size: var(--font-size-md);
}
h5 {
  font-size: var(--font-size-sm);
}
h6 {
  font-size: var(--font-size-xsm);
}
.link-a-tag, .link-a-tag:link, .link-a-tag:hover {
text-decoration: none;
}

//*font weight
.fw-md {
  font-weight: var(--font-weight-md);
}
.fw-sb {
  font-weight:var(--font-weight-sb);
}
.fw-b {
  font-weight:var(--font-weight-b);
}
.fw-xb {
  font-weight:var(--font-weight-xb);
}
.fw-xxb {
  font-weight:var(--font-weight-xxb);
}

//* font size
.fs-xxsm {
  font-size: var(--font-size-xxsm);
}
.fs-xsm {
  font-size :var(--font-size-xsm);
}
.fs-sm {
  font-size: var(--font-size-sm);
}
.fs-md {
  font-size: var(--font-size-md);
}
.fs-l {
  font-size: var(--font-size-l);
}
.fs-xl {
  font-size: var(--font-size-xl);
}
.fs-xxl {
  font-size: var(--font-size-xxl);
}
.fs-xxxl {
  font-size: var(--font-size-xxxl);
}

.fs-xxxxl {
  font-size: var(--font-size-xxxxl);
}

:focus {
  outline: 0.15rem dashed var(--white);
  outline-offset: 0.25rem;
}
main:focus {
  outline: none;
}

img {
  max-width: 100%;
}

.selected_column_text {
  color: blue;
}

.row {
  flex-direction: row;
  display: flex;
}

.row-flex-1 {
  display: flex;
  width: 100%;
  height: 100%;
}

.col-flex-1 {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navBar {
  flex-direction: column;
  z-index: 999;
  position: absolute;
  left: -81px;
  transition: 0.5s;
  width: 80px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  display:flex;
  top: 0px;
  position: fixed;
}

.navBar_expanded {
  flex-direction: column;
  z-index: 999;
  left: 0px;
  transition: 0.5s;
  min-width: 230px 0.2s ease;
  width: 240px;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  position: fixed;
  display:flex;
  background-color: var(--purple-20);
  box-shadow: 6px 0px 4px var(--nav-shadow);
}

.header {
  margin-top: 20px;;
  margin-bottom: 50px;
  min-height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  flex-direction: row;
  align-items: center;
  display: flex;
}

.content-area {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 20px;
  
}

@media screen and (min-width: 320px) {
  h1 {
    font-weight: var(--font-weight-xxb);
    font-size: var(--font-size-xxl);
    margin: 0px;
  }
}

@media screen and (min-width: 480px) {
  h1 {
    font-weight: var(--font-weight-xxb);
    font-size: var(--font-size-xxxxl);
    margin: 0px;
  }
}

@media screen and (min-width: 768px) {
  h1 {
    font-weight: var(--font-weight-xxb);
    font-size: var(--font-size-xxxxl);
    margin: 0px;
  }
  .content-area {
    display: flex;
    transition: 0.5s;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
  }
  
}

@media screen and (min-width: 1024px) {
  h1 {
    font-weight: var(--font-weight-xxb);
    font-size: var(--font-size-xxxxl);
    margin: 0px;
  }
  .navBar {
    transition: 0.5s;
    left: 0px;
    width: 80px;
    height: 100%;
    display:flex;
    top: 0px;
    position: fixed;
  }
  .content-area {
    overflow: hidden;
    display: flex;
    transition: 0.5s;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  
}

@media screen and (min-width: 1200px) {
  h1 {
    font-weight: var(--font-weight-xxb);
    font-size: var(--font-size-xxxxl);
    margin: 0px;
  }
}
