.button_subcontainer {
  flex-direction: 'row';
  display: flex;
  flex: 1;
  overflow: hidden;
}

.button_text {
  display: flex;
  // background-color: blue;
  margin-left: 5px;
  font-weight: var(--font-weight-md)
}



.a_tag, .a_tag:link, .a_tag:hover{
  text-decoration: none;
  display: flex;
  // background-color: blue;
}

.a_tag_sm, .a_tag_sm:link, .a_tag_sm:hover{
  text-decoration: none;
  display: flex;
  width: 56px;
  // background-color: blue;
}