.container {
  background-color: var(--purple-10);
  border: var(--black) 3px solid;
  
  border-radius: 20px;
  height: 40px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.input_div {
  height: 34px;
  // text-align: center;
  font-weight: var(--font-weight-reg);
  color: var(--black);
  align-self: center;
}
.input, .input:hover, .input:active, .input:focus {
  background: transparent;
  border: transparent solid 3px;
  outline: none !important;
  width: 100%;
  // border-radius: 22px;
  height: 32px;
  align-self: center;
  text-align: center;
  // padding-left: 20px;
  // color: white;

}
.button_left {
  font-size: 30px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 40px;
  border-top-left-radius: 20px;
  border: transparent;
  border-bottom-left-radius: 20px;
}
.button_right {
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 40px;
  border: transparent;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.button_right:hover {
  color: white;
  background-color: var(--purple-20);
}
.button_right:active {
  color: white;
  background-color: var(--purple-30);
}
.button_left:hover {
  color: white;
  background-color: var(--purple-20);
}
.button_left:active {
  color: white;
  background-color: var(--purple-30);
}


// @media screen and (min-width: 320px) {
//   .container {
//     background-color: var(--white);
//     border: var(--green-10) 3px solid;
//     border-radius: 25px;
//     width: 100%;
//     height: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
    
//   }
  
// }
// @media screen and (min-width: 480px) {
//   .container {
//     background-color: var(--white);
//     border: var(--green-10) 3px solid;
//     border-radius: 25px;
//     width: 50%;
//     // min-width: 325px;;
//     height: 50px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
    
//   }
  
// }