.leaderboards_button {
justify-content: center;
display: flex;
margin-top: 20px;
}
.leaderboards_button_text {
  color: black;
  font-weight: var(--font-weight-sb);
  font-size: var(--font-size-sm);

}