.container {
  // display: flex;
  width: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
  box-sizing: content-box;
  // margin-top: 40px;
  // background-color: blue;
  
}

.container::-webkit-scrollbar {
  width: 0.7em;
  height: 5px;
  background: transparent;
}
.container::-webkit-scrollbar-thumb {
  background: var(--white);
  height: 3px;
  border-radius: 5px;
}

.container::-webkit-scrollbar-track-piece
{
   display:none;
}

.grid_point_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected_text {
  font-weight: var(--font-weight-xb);
}
.unselected_text {
  font-weight: var(--font-weight-reg);
}
.selected_col_header_text {
  color: var(--black);
  font-weight: var(--font-weight-xb);
  font-size: var(--font-size-xsm);
}
.unselected_col_header_text {
  color: var(--black);
  font-weight: var(--font-weight-sb);
  font-size: var(--font-size-xsm);
}

.item_name_container {
  display: flex;
  align-items: center;
  padding-right: 0px;
  width: 150px;
  
}
.item_name_container:active {
  color: blue;
}

.row_container {
  align-items: center;
}
.icon_container {
  display: flex;  
  height: 34px;  
  align-items: center;
  justify-content: center;
  width:30px;
}
.head_container {
  align-items: center;
  display: flex;
  height: 50px;
  // background-color: blue;
}
.head {
  color: var(--white);
}

.a_tag, .a_tag:link {
  margin-left: 10px;
  text-decoration: none;
  text-align: left;
  outline: none;
  color: var(--white)
  
}
.a_tag:hover {
  margin-left: 10px;
  text-decoration: underline;
  color: var(--white)
}

.arrow_icon {
  margin-left: 5px;
  color: var(--black);
}

.icon_name_container {
  display: flex;
  flex-direction: row;
}

.gold_text {
  color: gold
}
