.socials {
  justify-content: space-between;
  flex: 1;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.break {
  min-height: 10px;
  max-height: 20px;
  flex: 1;
}

.x_container {
  width: 40px;
  height: 40px;
  display: flex;
  position: fixed;
  top:10px;
  left: 15px;
  
  align-items: center;
  justify-content: center;
  padding: 0px;
}
.x_container:hover {
  background-color: var(--white-25);
}